.home-property {
  width: 100%;
}

.bm-menu {
  overflow-y: hidden !important;
}

.bm-burger-button {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  cursor: pointer;
}

.bm-burger-button button {
  width: 4rem !important;
  height: 4rem !important;
  margin-top: 3rem !important;
  margin-left: 1rem !important;
}

.bm-overlay {
  background: #120c0c !important;
}

.bm-cross-button {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 0;
  margin-left: 1rem;
}

.bm-cross {
  background: #eac061;
}

.menu-item {
  color: #eac061;
  font-size: 3rem;
  text-align: center;
  border-bottom: 1px solid #281712;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.menu-item-home {
  margin-top: 8rem;
}

.logo-container {
  flex: 1;
}

.menu {
  flex: 1;
}

.top-section-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.contact-btn {
  background-color: #eac061;
  color: #120c0c;
  padding: 1rem 3rem;
  border-radius: 30px;
  cursor: pointer;
}

.contact-btn:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}

.top-section-info-text {
  font-size: 2rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #120c0c;
}

.main-header {
  color: #eac061;
  margin-top: 5rem;
}

.services-images {
  width: 5rem;
  margin-bottom: 1rem;
}

.icon-section {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.icon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 33%;
  text-align: center;
  margin-bottom: 5rem;
}
