.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-top-header {
  font-size: 3rem;
  padding-top: 2rem;
}

.contact-image {
  width: 8rem;
  padding: 2rem 0;
}

.contact-link {
  font-size: 1.5rem;
  text-decoration: underline;
}
