.logo-white {
  width: 15rem;
  position: absolute;
  left: 50%;
  margin-left: -7.5rem !important; /* 50% of your logo width */
  display: block;
  top: 3%;
  z-index: 15;
}

.navbar {
  width: 100%;
  height: 10rem;
  background-color: #120c0c;
  display: flex;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .logo-white {
    width: 8rem;
    margin-left: -4rem !important; /* 50% of your logo width */
    top: 25%;
  }
}
